#!/usr/bin/env xdg-open
[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=uamp run -w
Name=Uamp
Icon=uamp
Comment=Universal Advance Music Player
Categories=Audio