[package]
name = "uamp_proc"
version = "0.1.3"
edition = "2024"

[lib]
proc-macro = true

[dependencies]
proc-macro2 = "1.0.106"
quote = "1.0.44"
syn = { version = "2.0.114", features = ["full"] }
thiserror = "2.0.18"
