[package]
name = "uamp_proc"
version = "0.1.2"
edition = "2024"

[lib]
proc-macro = true

[dependencies]
proc-macro2 = "1.0.104"
quote = "1.0.42"
syn = { version = "2.0.112", features = ["full"] }
thiserror = "2.0.17"
