---
Checks: '
  -*,
  bugprone-*,
  clang-analyzer-*,
  clang-diagnostic-*,
  concurrency-mt-unsafe,
  cppcoreguidelines-no-malloc,
  misc-*,
  modernize-*,
  performance-*,
  readability-*,
  -misc-include-cleaner,
  -misc-new-delete-overloads,
  -misc-no-recursion,
  -misc-use-anonymous-namespace,
  -modernize-use-trailing-return-type,
  -performance-enum-size,
  -bugprone-easily-swappable-parameters,
  -bugprone-implicit-widening-*,
  -readability-identifier-length,
  -readability-qualified-auto,
  -readability-implicit-bool-conversion,
  -readability-named-parameter'
FormatStyle: file

CheckOptions:
  - key:   readability-identifier-naming.ClassCase
    value: 'CamelCase'
  - key:   readability-identifier-naming.ClassConstantCase
    value: 'UPPER_CASE'
  - key:   readability-identifier-naming.ClassMemberCase
    value: 'lower_case'
  - key:   readability-identifier-naming.ClassMethodCase
    value: 'lower_case'
  - key:   readability-identifier-naming.ConstantMemberCase
    value: 'UPPER_CASE'
  - key:   readability-identifier-naming.ConstexprVariableCase
    value: 'UPPER_CASE'
  - key:   readability-identifier-naming.EnumConstantCase
    value: 'UPPER_CASE'
  - key:   readability-identifier-naming.FunctionCase
    value: 'lower_case'
  - key:   readability-identifier-naming.MacroDefinitionCase
    value: 'UPPER_CASE'
  - key:   readability-identifier-naming.MemberCase
    value: 'lower_case'
  - key:   readability-identifier-naming.NamespaceCase
    value: 'lower_case'
  - key:   readability-identifier-naming.ParameterCase
    value: 'lower_case'
  - key:   readability-identifier-naming.PrivateMemberCase
    value: 'lower_case'
  - key:   readability-identifier-naming.PrivateMemberPrefix
    value: '_'
  - key:   readability-identifier-naming.StructCase
    value: 'CamelCase'
  - key:   readability-identifier-naming.TypeAliasCase
    value: 'CamelCase'
  - key:   readability-identifier-naming.VariableCase
    value: 'lower_case'

  - key:   misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value: True
  - key:   readability-magic-numbers.IgnorePowersOf2IntegerValues
    value: True
...
